<h2>Show todo</h2>

<ul>

  <li>
    <strong>Task:</strong>
    <%= @todo.task %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @todo.completed %>
  </li>

</ul>

<%= link "Back", to: todo_path(@conn, :index) %>